/** About Me/index style sheet*/


.container{
width: 100%;
margin-top: 0px;

}

.nav-link{
    float: left;
}

#picture{
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px 20px 5px 20px;
}

body{
    text-align:  center;
    background-image: url('../images/criss-cross.png');
    margin: 0;
    padding: 0;
}

.whitebox {
    background-color: white;
    overflow: auto;
    margin: 20px 288px;
    padding: 20px;
    max-width: 960px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

footer {
    border-top: 8px solid #4aaaa5;
    color: silver;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #777777;
}

p{
    text-indent: 50px;
    margin: 0px 0px 16px;
    padding: 0px 20px;
}

.links{
    text-align: center;
    display: inline;
}

.textbox{
    width: 100%;
    height: 40px;
}

#submit{
    background-color: #4aaaa5;
    cursor: pointer;
    border: none;
    color: white;
    height: 30;
    width: 90;
}

.navbarText{
display: inline;
}

.name {
    background-color: #4AAAA5;
    text-align: center;
    height: 70px;
    vertical-align: middle;
    
}

#myName{
    color: white;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: #4aaaa5
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
}

li{
    color: gray;
    /* display: inline;
    clear: left; */
}

#hangman{
    height: 250px;
    width: 250px;
}

#rpggame{
    height: 250px;
    width: 250px;
 }

 #trivia{
    height: 250px;
    width: 250px;
 }

 #rutgersinfowidget{
    height: 250px;
    width: 250px;
 }

 #rockpaperscissors{
    height: 250px;
    width: 250px;
 }

 .content-holder {
    display: flex;
    margin: 15px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .third-column {
    height: 580px;
    width: 250px;
  }
  
  .second-column {
    height: 580px;
    width: 250px;
  }
  
  .first-column {
    height: 580px;
    width: 250px;
  }

  @media screen and (max width: 768px){
      #navbar{
          margin-top: 70px;
          margin-left: 25%;
      }
  }

/**

header{
    background-color: white;
    border-bottom: 2px solid #cccccc;
    height: 70px;
}



p{
    color: #777777;
}

form{
    color: #777777;
}

.valuecolor{
    color: #777777;
}

#picturewrap{
    float: left;
    margin: 5px;
    color: #777777;
    font-size: medium;
}

ul{
    text-align: right;
    margin: 0px 288px 10px 0px;
    padding: 20px 0px 20px 100px;
    color: gray
}



.kelsey{
    color: white;
    width: 20%;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 100px;
    height: 70px;
    margin: 0px 0px 0px 288px;
    vertical-align: middle;
    clear: left;
    float: left;
}

hr{
    width: 100%;
    color: gray;
}

*/