
/** Portfolio style sheet
*/

/* .container{
    position: absolute;
    display: inline-block;
    padding: 0px 0px 5px 0px;
    height: 9000px;
}

div{
    align-content: center;
    clear: left;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
  }
   */
  /* Clear floats after the columns */
/* .row:after {
    content:"";
    display: table;
    clear: both;
  }

  .textbox{
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    width: 100%;
    color: white;
    }
    

#hangman{
    height: 250px;
    width: 250px;
}

#rpggame{
    height: 250px;
    width: 250px;
 }

 #trivia{
    height: 250px;
    width: 250px;
 }

 #rutgersinfowidget{
    height: 250px;
    width: 250px;
 }

 #rockpaperscissors{
    height: 250px;
    width: 250px;
 }

 .content-holder {
    display: flex;
    margin: 15px;
  }
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .third-column {
    height: 100px;
  }
  
  .second-column {

    height: 100px;
  }
  
  .first-column {
    height: 100px;
  } */